{% section 'header' %}
<section id="tin-tuc" class="testimonial-area  bg-before no-padding mt-5 pt-4 pb-5" style="background-image: url({{theme_url()}}assets/images/testimonial-bg.jpg);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mt-0 mb-3">
                <h1 class="text-red text-bold header-title pt-0 mt-0 auto-center text-header-com-1">
                    CẬP NHẬT THÔNG TIN DỰ ÁN
                </h1>
            </div>
        </div>
        <!-- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="work-slider-3" class="owl-carousel work-slider-img">
                    {% shortcode 'post_type'  with {type: 'post',category:'tin-tuc-du-an',template: 'single-portfolio'} %}
                </div>
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
</section>
<section id="question" class="works_area section-padding pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-2 feature_area_check">
                <h1 class="text-bold header-title auto-center text-header-com-1 pt-0">
                    Những câu hỏi thường gặp của khách hàng
                    <p style="width: auto;">trước khi quyết định đầu tư vào dự án Khang Điền Bình Tân</p>
                </h1>
            </div>
            <div class="accordion row" id="accordionExample">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" id="heading1">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>1</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link align-middle">
                                        Quy mô dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                            <div class="card-body">
                                - Tổng diện tích dự án: <strong>1.83 ha</strong> <br>
                                - Khoảng <strong> 2.000 căn hộ</strong> (căn hộ 1PN - 3PN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" id="heading2">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>2</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Giá bán dự kiến từ CĐT?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                            <div class="card-body">
                                - Căn hộ Khang Điền Bình Tân: <strong>40 Triệu/m2</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" id="heading3">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>3</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Dự án Khang Điền Bình Tân
                                        khi nào xây dựng và dự kiến bàn giao nhà?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                - Thời gian dự kiến khởi công xây dựng: 01/2021 <br>
                                - Thời gian bàn giao công trình: Dự kiến 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}
