<div class="single_portfolio">
    <div class="box">
        <img src="{{ image }}" alt="">
        <div class="box-content">
            <div class="content">
                <ul class="work_icon">
                    <li>
                        <a href="{{ image }}" class="port-icon lightbox vbox-item" data-gall="gall-work">
                            <span class="ti-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
